registry=https://agora.dequecloud.com/artifactory/api/npm/amaze-virtual/
//agora.dequecloud.com/artifactory/api/npm/amaze-virtual/:_authToken=$AGORA_TOKEN
email=andy.wyatt@deque.com
always-auth=true
@<SCOPE>:registry=https://agora.dequecloud.com/artifactory/api/npm/amaze-virtual/
//agora.dequecloud.com/artifactory/api/npm/amaze-virtual/:_password=<BASE64_PASSWORD>
//agora.dequecloud.com/artifactory/api/npm/amaze-virtual/:username=andy.wyatt@deque.com
//agora.dequecloud.com/artifactory/api/npm/amaze-virtual/:always-auth=true
//agora.dequecloud.com/artifactory/api/npm/amaze-virtual/:_auth=$AGORA_AUTH
