@axe-devtools:registry=https://agora.dequecloud.com/artifactory/api/npm/dequelabs/
//agora.dequecloud.com/artifactory/api/npm/dequelabs/:_auth=${AGORA_AUTH}
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:email=${AGORA_USERNAME}
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:always-auth=true