.Blog {
  margin: 0 0 var(--space-largest) 0;
}

.Blog .Link {
  display: inline-block;
}

.Icon__left {
  transform: rotate(90deg);
  display: inline-block;
  vertical-align: middle;
}

.Blog .Link.Back {
  margin: 0 0 var(--space-small) 0;
}